# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# Images (optional if you don’t want to upload samples)
*.jpg
*.jpeg
*.png

# Streamlit cache
.streamlit/
